.fab{
    color: $brand-icon-color;
    transition: color .3s ease-in-out; 
    &.linkedin{
        &:hover{
            color: $brand-linkedin-color;
        }
    }
    &.github{
        &:hover{
            color: $brand-github-color;
        }
    }
}
