@import "../variables.scss";

.button{
    box-shadow: $light-bg-shadow-down;
    transition: all $ease-in-out-transition;
    &:hover{
        box-shadow: $light-bg-shadow-up;
        transform: translateY(-3px);
    }
    &.is-uppercase{
        text-transform: uppercase
    }
    &.is-social{
        color: #fff;
        &.linkedin-in{
            background-color: $brand-linkedin-color; 
            border-color: $brand-linkedin-color; 
        }
        &.github{
            background-color: $brand-github-color;
            border-color: $brand-github-color;
        }
        &.twitter{
            background-color: $brand-twitter-color;
            border-color: $brand-twitter-color;
        }
        &:hover{
            color: #fff;
        }
    }
}

.fab{
    color: $brand-icon-color;
}