nav {
    transition: background-color $ease-in-out-transition;
    &.navbar.is-transparent{
        background-color: transparent;
    }
    .logo{
        padding: 0;
        margin: .5rem;
    }
    .navbar-item{
        padding: 0;
        margin: .5rem;
        text-transform: capitalize;
        &:hover{
            border-bottom: 1px solid;
        }
        & a:hover, &.cta:hover, &.logo:hover{
            border-bottom: none;
        }
    }
}


