@import "../variables.scss";

.form {
    .text-input{
        padding: 1rem;
        border: none;
        background: $light-grey-color;
        border-radius: 1rem;
        font-size: 1rem;
        outline: none;
        &.error{
            background: lighten($error-color, 35%);            
            &::placeholder{
                color: $error-color;
            }
        }
    }
    .text-area {
        @extend .text-input;
        height: 8rem;
        resize: none;
    }
    .field-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .field-group {
        margin: 1rem 0;
    }
    .error-container {
        font-size: 0.8rem;
        color: #ff3860;
        display: flex;
        margin-left: 0.9rem;
    }
}