header{
    .header-bg{
        width: 50vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 0;
        z-index: -1;
        @media (max-width: $narrow-screen) {
            width: 100vw;
        }
    }
    .scroll-down-icon{
        margin: auto;
        position: relative;
        bottom: 2rem;
        animation: floating 2.5s infinite;
    }
}