// VARIABLES

// Screen
$narrow-screen : 80rem;
// Colors
$brand-icon-color: #ffffff;
$brand-linkedin-color: #0077b5;
$brand-github-color: #333;
$brand-twitter-color: #1da1f2;
$light-black-color: #4a4a4a;
$light-red-color: rgba(255,74,110,.2);
$light-purple-color: rgba(184,107,255,.2);
$light-yellow-color: rgba(255,221,87,.2);
$light-turquoise-color: rgba(35,209,153,.2);
// Shadows
$light-bg-shadow-down: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
$light-bg-shadow-up: 0 10px 20px rgba(220,220,220,0.5);
// Transitions
$ease-in-out-transition: 200ms ease-in-out;

// Bulma variables
$link: $light-black-color;
$section-padding: 1.5rem 1.5rem;