header{
    .header-bg{
        width: 50vw;
        height: 100vh;
        background-image: url(../assets/header-bg.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 0;
        z-index: -1;
        @media (max-width: $narrow-screen) {
            width: 100vw;
        }
    }
}