nav {
    transition: background-color $ease-in-out-transition;
    &.navbar.is-transparent{
        background-color: transparent;
    }
    .logo{
        border-bottom: 1px solid;
        padding: 0;
        margin: 1rem;
    }
    .navbar-item{
        padding: 0;
        margin: 1rem;
        &:hover{
            border-bottom: 1px solid;
            padding: 0;
            margin: 1rem;
        }
    }
}


